<h1>Pandemic Calendar</h1>
<h3> (March ?, 2020)</h3>
<h6>Inspired by <a href="https://www.marketplace.org/shows/make-me-smart-with-kai-and-molly">Make Me Smart with Kai and Molly</a></h6>

<div class="text-center">
    <p>Today is @DateTime.Now.ToLongDateString()</p>
    <p>Pandemic has been our life since @PandemicStart.ToLongDateString()</p>
    <p>Today is also known as @PandemicDateToString(DateTime.Now)</p>
</div>

&nbsp;

<div class="text-center" padding="10 0 0 0">
    @*<a href="https://github.com/FuntimeMS/PandemicMarchX2020">Code available here on github.</a>*@
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#">
        <a rel="cc:attributionURL" property="dct:title" href="https://github.com/FuntimeMS/PandemicMarchX2020">Pandemic Calendar</a>
        by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/FuntimeMS">Mike Schlueter</a>
        is licensed under <a href="https://creativecommons.org/licenses/by/4.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
        CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
        <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>

    @*<p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Pandemic Calendar</span> by 
    <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/FuntimeMS" property="cc:attributionName" rel="cc:attributionURL">Mike Schlueter</a> 
    is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />
    Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/FuntimeMS/PandemicMarchX2020" rel="dct:source">https://github.com/FuntimeMS/PandemicMarchX2020</a>.
    </p>*@
</div>


@code {
    public static DateTime PandemicStart { get; } = new DateTime(2020, 03, 11);
    public static string GetTodayAsPandemicDate()
    {
        DateTime Today = DateTime.Now;
        return PandemicDateToString(Today);
    }
    public static string PandemicDateToString(DateTime date)
    {
        TimeSpan durationOfPandemic = date.Subtract(PandemicStart);
        string PandemicDateString = $"{ PandemicStart:MMMM} { PandemicStart.Day + durationOfPandemic.Days }, { PandemicStart.Year }";
        return PandemicDateString;
    }

}
